.actions-bar
{
    position: relative; display: inline-flex;
    top: 0; left: 0;
    width: 100%; height: 30px;
    align-items: center;
    background-color: rgb(51, 51, 51);
    -webkit-user-select: none;
    user-select: none;
}
.actions-bar button
{
    height: 30px;
    padding: 0 20px;
    font-size: 15px; font-weight: normal;
    color: rgb(211, 211, 211);
    background-color: transparent;
    transition: 0.2s ease-in-out;
}
.actions-bar button:disabled
{
    color: gray;
}
.actions-bar button:not(:disabled):hover
{
    background-color: rgba(255, 255, 255, 0.15);
}

.dropdown
{
    position: relative;
}

.dropdown-list
{
    position: absolute;
    display: none; flex-direction: column;
    min-width: 100%; width: auto;
    align-items: center; justify-content: center;
    background-color: rgb(51, 51, 51);
}
.dropdown-list li, .dropdown-list li button
{
    min-width: 100%;
}
.dropdown-list li button:not(:disabled):hover
{
    background-color: rgba(255, 255, 255, 0.15);
}

.dropdown:hover .dropdown-list
{
    display: flex;
}

.list-sep
{
    width: 85%; height: 1px;
    background-color: rgb(114, 114, 114);
    margin: 2.5px 0;
}