@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

*
{
    margin: 0; padding: 0;
    box-sizing: border-box;
    -webkit-app-region: none;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar
{
    width: 5px;
    background-color: black;
}
::-webkit-scrollbar-thumb
{
    background-color: rgb(75, 75, 75);
}
::-webkit-scrollbar-button
{
    display: none;
}

html, body, #root
{
    height: 100%; width: 100%;
    overflow: hidden;
    background-color: black;
}

main
{
    height: 100%; width: 100%;
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
    overflow: hidden;
}

.section
{
    width: 100%; height: 100%;
    display: flex; flex-direction: column;
    margin: auto;
    align-items: center; justify-content: center;
    overflow: hidden;
}

button, a, ul, li, textarea, input
{
    text-decoration: none;
    outline: none;
    border: none;
    background-color: transparent;
    list-style: none;
}