.start-section
{
    gap: 15px;
    -webkit-user-select: none;
    user-select: none;
}
.start-section .greetings-title
{
    width: 100%;
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
    margin-top: 4vh; margin-bottom: auto;
    gap: 15px;
    font-family: "Montserrat"; font-size: 30px; font-weight: lighter;
    color: white;
}
.start-section .greetings-title::after
{
    content: '';
    width: 50%; height: 1px;
    min-width: 300px;
    background-color: rgb(114, 114, 114);
}

.start-options-box
{
    width: 95%;
    display: inline-flex;
    align-items: center; justify-content: center;
    flex-wrap: wrap;
    gap: 20%;
    margin-bottom: auto;
}
.start-options-box div
{
    min-width: 300px;
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
}
.start-options-box div .div-title
{
    font-size: 20px; font-weight: lighter;
    color: white;
}
.start-options-box div .no-recent-files
{
    height: 200px;
    display: flex; flex-direction: column; 
    align-items: center; justify-content: center;
    color: gray;
}
.start-options-box div button
{
    width: 175px;
    padding: 10px 5px;
    font-size: 17px; font-weight: normal;
    color: white;
    cursor: pointer;
    background-color: rgb(53, 164, 255);
    border-radius: 5px;
}
.start-options-box div span
{
    padding: 50px 0;
    font-size: 20px;
    color: gray;
}