.start-section
{
    width: 100%; height: 100%;
    display: flex; flex-direction: column;
    margin: auto;
    align-items: center; justify-content: center;
    gap: 15px;
    -webkit-user-select: none;
    user-select: none;
}
.start-section .greetings-title
{
    margin-top: 4vh; margin-bottom: auto;
    font-family: "Montserrat"; font-size: 30px; font-weight: lighter;
    color: white;
}